.root {
  background: rgb(247, 247, 247);
  padding: 100px 0;
}

.title {
  font-family: $janon;
  font-size: 45px;
  color: #4C4C4C;
  line-height: 41px;
}

.subtitle {
  font-family: $janon;
  font-size: 21px;
  color: #4C4C4C;
  line-height: 33px;
  font-style: italic;
}

.init-calc {
  background: $white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .2);

  border-radius: 7px;

  padding: 40px;

  &.hide {
    display: none;
  }

  .label {
    width: 80%;

    text-align: right;

    display: inline-block;

    @media only screen and (max-width: 667px) {
      text-align: center;
      width: 100%;

      margin-bottom: 10px;
    }

    @media only screen and (min-width: 667px) and (max-width: 998px) {
      width: 100%;
    }
  }

  .green {
    color: $green;
  }

  input[type="text"] {
    border: 1px solid #009B69;
    border-radius: 2px;

    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .1);

    padding: 7px 13px;

    font-size: 24px;
    color: #4A4A4A;
    font-family: $supriaSans;

    width: 90%;

    @media only screen and (max-width: 667px) {
      text-align: center;
      width: 100%;

      margin-bottom: 30px;
    }

    @media only screen and (min-width: 667px) and (max-width: 998px) {
      width: 100%;
      padding: 5px 10px;
    }
  }

  .logo {
    display: inline-block;

    width: 50px;
    height: 50px;

    background: url(./files/logo.png);
    background-size: cover;
  }

  .info {
    font-family: $supriaSans;
    font-size: 24px;
    color: #4C4C4C;
    line-height: 29px;

    width: 80%;

    margin-top: 20px;
    margin-left: 10%;

    i {
      font-family: $janon;
    }

    @media only screen and (max-width: 667px) {
      width: 100%;
      margin-left: 0;

      font-size: 18px;
      line-height: 22px;
    }
  }

  button {
    background: $green;
    padding: 10px 30px;

    border-radius: 30px;
    border: none;

    color: white;

    font-family: $janon;
    font-size: 22px;

    margin-top: 30px;

    @media only screen and (max-width: 667px) {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.graphs {
  background: $white;
  box-shadow: 0 20px 20px rgba(0, 0, 0, .2);

  border-radius: 7px;

  padding: 40px;

  position: relative;
  z-index: 2;

  display: none;

  &.show {
    display: block;
  }

  .left-side, .right-side {
    display: inline-block;
    width: 50%;

    vertical-align: top;

    .footer {
      background: #FFFFF6;
      border-top: 1px solid rgba(0, 0, 0, .1);

      margin: -40px;

      padding: 10px 40px;

      min-height: 61px;
    }
  }

  .left-side {

    @media only screen and (max-width: 768px) {
      display: none;
    }

    .numbers {
      margin-bottom: 30px;

      span {
        font-family: $supriaSans;
        font-size: 13px;
        color: #D5D5D5;
        line-height: 13px;

        box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);

        border-radius: 100%;

        padding: 4px 9px;

        margin-right: 10px;
      
        &:hover, &.active {
          background: $green;
          color: #FFF;
        }
      }
    }

    .description {
      padding-top: 40px;
      height: 307px;

      .title {
        font-family: $supriaSans;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;

        width: 60%;

        @media only screen and (min-width: 667px) and (max-width: 998px) {
          font-size: 18px;
          line-height: 20px;

          width: 80%;
        }
      }

      .info {
        font-family: $supriaSans;
        font-size: 15px;
        line-height: 16px;

        color: rgba(0, 0, 0, .5);

        width: 60%;

        @media only screen and (min-width: 667px) and (max-width: 998px) {
          font-size: 14px;
          line-height: 16px;

          width: 80%;
        }
      }

      a {
        color: rgba(0, 0, 0, .5);
        font-size: 15px;
        line-height: 16px;

        display: inline-block;

        font-family: $janon;
        font-style: italic;

        border-bottom: 1px solid rgba(0, 0, 0, .3);
      }

      button {
        position: relative;
        font-size: 15px;

        display: block;

        margin: 15px 0;
      }
    }

    button {
      background: $green;
      padding: 10px 30px;

      border-radius: 30px;
      border: none;

      color: white;

      font-family: $janon;
      font-size: 22px;

      margin-top: -65px;
      position: absolute;

      text-align: left;

      background: rgb(32,255,141);
      background: -moz-linear-gradient(top, rgba(32,255,141,1) 0%, rgba(0,155,105,1) 100%);
      background: -webkit-linear-gradient(top, rgba(32,255,141,1) 0%,rgba(0,155,105,1) 100%);
      background: linear-gradient(to bottom, rgba(32,255,141,1) 0%,rgba(0,155,105,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20ff8d', endColorstr='#009b69',GradientType=0 );

      &.adjust {
        color: $green;
        background: none;
        border: 1px solid rgba(0, 155, 105, .16);

        font-size: 14px;

        margin: 0;
        font-family: $supriaSans;

        padding-left: 50px;

        .icon {
          display: inline-block;
          
          width: 22px;
          height: 22px;

          margin-left: -30px;

          position: absolute;

          background: url(./files/adjust.png);
          background-size: cover;
        }
      }
    }
  }

  .right-side {

    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    
    .title {
      font-family: $janon;
      font-style: italic;
      font-size: 15px;
      line-height: 16px;

      opacity: .5;
    }

    .col {
      width: 33%;
      height: 333px;

      display: inline-block;
      vertical-align: bottom;

      &.in-footer {
        font-size: 14px;
        line-height: 16px;
        opacity: .5;

        height: auto;

        vertical-align: top;

        .logo {
          width: 34px;
          height: 34px;

          display: inline-block;
          
          margin-top: -2px;
          margin-left: -40px;
            
          background: url(./files/logo.png);
          background-size: cover;

          position: absolute;
        }
      }

      .graph {
        width: 10px;

        display: inline-block;

        bottom: 0;
        position: absolute;

        margin-bottom: 20px;

        border-radius: 2px;

        transition: margin-left .7s, width .7s;

        &.hide {
          opacity: 0;
        }

        &.tax {
          opacity: .3;
        }

        &.magenta {
          background: rgb(201,109,216);
          background: -moz-linear-gradient(top, rgba(201,109,216,1) 0%, rgba(48,35,174,1) 100%);
          background: -webkit-linear-gradient(top, rgba(201,109,216,1) 0%,rgba(48,35,174,1) 100%);
          background: linear-gradient(to bottom, rgba(201,109,216,1) 0%,rgba(48,35,174,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c96dd8', endColorstr='#3023ae',GradientType=0 );

          &.gray {
            background: #D9D9D9;
          }
        }

        &.green {
          background: rgb(0,203,162);
          background: -moz-linear-gradient(top, rgba(0,203,162,1) 0%, rgba(0,155,105,1) 100%);
          background: -webkit-linear-gradient(top, rgba(0,203,162,1) 0%,rgba(0,155,105,1) 100%);
          background: linear-gradient(to bottom, rgba(0,203,162,1) 0%,rgba(0,155,105,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cba2', endColorstr='#009b69',GradientType=0 );
        }

        &.red {
          background: rgb(203,0,0);
          background: -moz-linear-gradient(top, rgba(203,0,0,1) 0%, rgba(155,0,0,1) 100%);
          background: -webkit-linear-gradient(top, rgba(203,0,0,1) 0%,rgba(155,0,0,1) 100%);
          background: linear-gradient(to bottom, rgba(203,0,0,1) 0%,rgba(155,0,0,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb0000', endColorstr='#9b0000',GradientType=0 );
        }

        &.yellow {
          background: #FBDA61;

          opacity: .9;

          border-top: 1px solid #000;
          border-bottom: 1px solid #000;
          border-radius: 0;

          width: 20px;

          position: absolute;
          margin-left: -10px;

          &.tiny {
            border: none;
            width: 10px;
            margin-left: 0;
          }

          &.hide {
            opacity: 0;
          }
        }

        &.fat {
          width: 20px;
          margin-left: -5px;
        }
      }

      .price {
        position: absolute;

        margin-top: 25px;
        margin-left: 25px;

        font-size: 14px;
        line-height: 16px;

        transition: .7s;

        @media only screen and (min-width: 667px) and (max-width: 998px) {
          font-size: 12px;
          line-height: 13px;

          &.tax {
            line-height: 10px;
          }
        }

        &.hide {
          opacity: 0;
        }

        &.magenta {
          color: #CC70DA;

          &.gray {
            color: rgba(0, 0, 0, .3);
          }
        }

        &.green {
          color: #009969;
        }

        &.red {
          color: #D91811;
        }

        &.tax {
          opacity: .5;
          font-size: 10px;
          line-height: 11px;

          margin-top: 0;

          position: absolute;
        }
      }
    }
  }
}

.super-center {
  background: #4A4A4A;
  border-radius: 7px;

  padding: 40px 20px 20px 20px;

  position: relative;
  z-index: 1;

  transition: .7s;

  margin-top: -20px;

  // margin-top: -400px;
  // opacity: 0;
  display: none;

  &.show {
    // margin-top: -20px;
    // opacity: 1;
    display: block;
  }

  .title {
    font-family: @supriaSansMedium;
    color: #FFF;
    font-size: 15px;
    line-height: 
  }

  .label {
    display: inline-block;
    width: 35%;

    font-family: $supriaSans;
    font-size: 14px;
    color: #FFF;
    line-height: 16px;

    opacity: .58;

    vertical-align: top;
  }

  .value {
    display: inline-block;
    color: #00C796;

    font-family: $supriaSans;
    font-size: 12px;

    position: relative;
    
    top: -15px;
    left: 10px;
  }

  .slider {
    display: inline-block;
    width: 40%;
    margin-top: 5px;
    margin-left: 5%;

    height: 25px;
  }

  .line {
    position: absolute;
    display: inline-block;

    top: 0;

    width: 1px;
    height: 100%;

    background: #000;
    opacity: .3;

    &.first {
      left: 31%;
    }

    &.second {
      left: 64%;
    }
  }
}

.center {
  text-align: center;
}