@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';


:local(.styles) {
  position: relative;


  h1{

  margin-top: 200px;

@media (#{ $phone }) {
      margin-top: 250px;
      font-size: 35px;

    }


  }


   p.intro {
    margin-top: 30px;
    
    width: 50%;

    font-family: 'SupriaSans Light';
    color: #FFF;
    font-size: 19px;
    line-height: 24px;

    @media (#{ $large-desktop }) {
      width: 50%;
    }

    @media (#{ $phone }) {
      font-size: 16px;
      width: 90%;
      line-height:20px;

    }
  }



  p {
    font-family: 'SupriaSans Regular';
    font-size: 16px;
    line-height: 19px;
    color: #7B7B7A;

    &.black {
      color: #000;
    }

    &.green {
      color: $green;

      margin-bottom: 25px;
    }


    &.middle {
      font-family: 'Jannon10Pro-Italic';
      font-size: 21px;
      line-height: 27px;
    }
  }

  .threeCol {

    img {
      width: 135px;

      margin: 35px 0px 20px 0px;
    }

    p {
      width: 80%;
      margin-left: 10%;
    }

    &.paragraphs {
      margin: 70px 0;

      p {
        margin-bottom: 40px;
      }
    }
  }

  .whoIsLanded {
    background: #F8F8F8;
    width: 100%;

    padding: 50px 0;

    p.paragraphs {
      margin-top: 40px;
    }
    
    img {
      width: 80%;
      border-radius: 100%;

      margin-top: 50px;
    }

    p.name {
      font-family: 'Jannon10Pro';
      font-size: 25px;
      line-height: 32px;
      color: $green;

      margin-top: 20px;
    }

    p.position {
      font-family: 'Jannon10Pro-Italic';
      font-size: 16px;
      line-height: 20px;
      color: #7B7B7A;
    }

    p.sign {
      // 
    }
  }

  .whyDoesLandedExist {
    margin-top: 60px;
    margin-bottom: 100px;

    h2 {
      margin-bottom: 60px;
    }

    p.second-paragraph {
      font-size: 20px;
      margin-top: 50px;
    }

    .two-folks {

      p {
        width: 90%;
        
        line-height: 24px;
      }
    }

    .footer-text {
      line-height: 24px;

      p {
        margin-bottom: 30px;
      }
    }

    p {
      line-height: 24px;
    }
  }
}
