@import '../../../containers/App/styles/vars';

:local(.styles) {
  position: relative;

  p {
    font-family: 'SupriaSans Regular';
    font-size: 16px;
    line-height: 19px;
    color: #7B7B7A;

    &.black {
      color: #000;
    }
  }

  .threeCol {

    img {
      width: 135px;

      margin: 35px 0;
    }

    p {
      width: 80%;
      margin-left: 10%;
    }

    &.paragraphs {
      margin: 70px 0;

      p {
        margin-bottom: 40px;
      }
    }
  }

  .whoIsLanded {
    background: #F8F8F8;
    width: 100%;

    padding: 50px 0;

    p.paragraphs {
      margin-top: 40px;
    }
    
    img {
      width: 80%;
      border-radius: 100%;

      margin-top: 50px;
    }

    p.name {
      font-family: 'Jannon10Pro';
      font-size: 25px;
      line-height: 32px;
      color: $green;

      margin-top: 20px;
    }

    p.position {
      font-family: 'Jannon10Pro-Italic';
      font-size: 16px;
      line-height: 20px;
      color: #7B7B7A;
    }

    p.sign {
      // 
    }
  }

  .whyDoesLandedExist {
    margin-top: 60px;

    h2 {
      margin-bottom: 60px;
    }

    p.second-paragraph {
      font-size: 20px;
      margin-top: 50px;
    }

    .two-folks {

      p {
        width: 90%;
        
        line-height: 24px;
      }
    }

    .footer-text {
      line-height: 24px;

      p {
        margin-bottom: 30px;
      }
    }

    p {
      line-height: 24px;
    }
  }
}
