.root {
  position: fixed;
  z-index: 3;

  top: 0;
  left: 0;

  padding: 20px 0;

  width: 100%;
  transition: background .3s;

  &.green {
    background: $green;
  }

  &.color-green {

    .logo {
      background: url(./files/landed-logo-green.png);
      background-size: cover;
    }

    .text-logo {
      background: url(./files/landed-text-logo-green.png);
      background-size: cover;
    }
  }

  .nav {

    a {
      color: $black;
    }

    .get-landed {
      border: 1px solid $black;
    }
  }
}

.logo {
  width: 39px;
  height: 38px;

  display: inline-block;

  background: url(./files/landed-logo.png);
  background-size: cover;
}

.text-logo {
  width: 98px;
  height: 23px;
  
  position: relative;
  top: -7px;
  margin-left: 40px;

  display: inline-block;

  background: url(./files/landed-text-logo.png);
  background-size: cover;
}

.nav {
  text-align: right;

  margin-top: 13px;

  a {
    color: $white;
    font-family: $janon;
    font-size: 16px;

    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    &:hover, &.active {
      opacity: .7;
    }
  }

  .get-landed {
    border: 1px solid $white;
    border-radius: 30px;

    font-family: $janonItalic;

    padding: 7px 17px;
  }
}