.root {
  position: fixed;
  z-index: 3;
  -webkit-font-smoothing: antialiased;

  top: 0;
  left: 0;

  padding: 15px 0px 5px 0px;

  width: 100%;
  transition: background .3s;

  &.green {
    background: rgba(0,155,105,.8);
  }

  &.color-white {

    .logo {
      background: url(./files/landed-logo.png);
      background-size: cover;
    }

    .text-logo {
      background: url(./files/landed-text-logo.png);
      background-size: cover;
    }

    .nav {

      a {
        color: $white;
      }

      .get-landed {     
        color: $white;
        padding: 8px;
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 8px;
      }
    }
  }

  &.color-green {

    .logo {
      background: url(./files/landed-logo-green.png);
      background-size: cover;
    }

    .text-logo {
      background: url(./files/landed-text-logo-green.png);
      background-size: cover;
    }

    .nav {

      a {
        color: $black;

        &:hover, &.active {
          opacity: 1;
          border-bottom: 2px solid rgba(0, 0, 0, 1);
        }
      }

      .get-landed {     
        color: $black;
        padding: 8px;
        border: 2px solid rgba(0, 0, 0, 1);
        border-radius: 8px;
      }
    }
  }

  &.green {

    .logo {
      background: url(./files/landed-logo.png);
      background-size: cover;
    }

    .text-logo {
      background: url(./files/landed-text-logo.png);
      background-size: cover;
    }

    .nav {

      a {
        color: $white;

        &:hover, &.active {
          opacity: 1;
          border-bottom: 2px solid rgba(255, 255, 255, 1);
        }
      }

      .get-landed {     
        color: $white;
        padding: 8px;
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 8px;
      }
    }
  }
}

.logo {
  width: 33px;
  height: 33px;

  display: inline-block;
}

.text-logo {
  width: 75px;
  height: 20px;
  
  position: relative;
  top: -9px;
  margin-left: 40px;

  display: inline-block;
}

.nav {
  text-align: right;
  
  margin-top: 7px;

  a {
    font-size: 15px;
    font-family: 'SupriaSans Regular';
    margin-right: 30px;
    opacity: .9;
    transition: .2s;
    border-bottom: 2px solid rgba(255, 255, 255 ,0);

    &:last-child {
      margin-right: 0;
    }

    &:hover, &.active {
      opacity: 1;
      border-bottom: 2px solid rgba(255, 255, 255 ,1);
    }
  }

  .get-landed {     
    font-family: 'SupriaSans Medium';
    cursor: pointer;
  }
}

.burger {
  width: 30px;
  height: 15px;

  position: fixed;
  z-index: 13;

  top: 23px;
  right: 30px;

  display: inline-block;

  background: url(./files/burger.png);
  background-size: cover;

  cursor: pointer;
}

.close {
  width: 23px;
  height: 23px;

  position: fixed;

  top: 35px;
  right: 35px;

  display: inline-block;

  background: url(./files/close.png);
  background-size: cover;

  cursor: pointer;
}

.menu {
  position: fixed;
  z-index: 15;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(255, 255, 255, .97);

  text-align: center;
  padding-top: 80px;

  display: none;

  &.show {
    display: block;
  }

  a, .get-landed {
    font-family: $janon;
    font-size: 34px;
    color: $green;

    display: block;

    padding: 20px 0;
  }
}