:local(.styles) {
  width: 100%;
  height: 450px;

  background: url(../../../../files/photos/image-block.png);
  background-size: 100% auto;
  
  // TODO: remove
  margin-top: -5px;

  h1 {
    color: #FFF;
    font-size: 45px;

    margin: 100px 0 30px;
  }
}
