@import '../../../containers/App/styles/vars';

:local(.styles) {
  position: relative;
  margin-top: 50px;

  h2 {
    text-align: center;
  }

  img {
    width: 110px;

    margin: 30px 0 20px;
  }

  p.paragraph {
    font-family: 'SupriaSans Regular';
    font-size: 16px;

    &.green {
      color: $green;

      margin-bottom: 25px;
    }
  }

  span.price {
    font-family: 'Jannon10Pro';
    font-size: 23px;
    line-height: 35px;
    color: #C8C8C8;

    display: block;

    margin-top: 10px;
  }

  hr.price {
    width: 300px;
    height: 1px;
    background: $green;

    position: relative;
    margin-top: -20px;

    border: none;
  }

  span.special {
    font-family: 'Jannon10Pro';
    font-size: 32px;
    line-height: 35px;
    color: $green;

    display: block;

    margin-top: 40px;

    span.free {
      
      font-family: 'Jannon10Pro-Italic';

      display: inline-block;
      margin-left: 10px;
    }
  }

  span.button {
    font-size: 18px;
    color: $green;
    
    border-radius: 31px;
    border: 1px solid $green;

    padding: 20px 77px;
    
    display: inline-block;
    margin: 50px 0 60px;

    &:hover {
      background: $green;
      color: #FFF;
    }
  }
}
