.root {
  position: relative;
  z-index: 1;
  background: $green;

  padding: 40px;

  .logo {
    opacity: 1;
    border: none;
    
    img {
      width: 110px;
      @media only screen and (max-width: 667px) {
      margin-bottom:20px;
    }
    }
  }
  .social {
    opacity: 1;
    border: none;
    
    img {
      width: 50px;
      @media only screen and (max-width: 667px) {
      margin-top:10px;
    }
    }
  }

  p, a {
    color: $white;
    font-size: 12px;

    opacity: .73;
  }

  a {
    border-bottom: 1px solid rgba(255, 255, 255, .7);
  }
}

.mail {
  display: inline-block;
  position: relative;
  top: -10px;
}