.root {
  background: $green;

  padding: 20px;

  p, a {
    color: $white;
    font-size: 12px;

    opacity: .73;
  }

  a {
    border-bottom: 1px solid rgba(255, 255, 255, .7);
  }
}

.mail {
  display: inline-block;
  position: relative;
  top: -10px;
}