@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';

:local(.styles) {

  .el-animation-appear {
    opacity: 0.01;
  }

  .el-animation-appear.el-animation-appear-active {
    opacity: 1;
    transition: 0.7s linear;
  }

  .top-header {
    position: absolute;
    z-index: 12;

    width: 100%;

    padding: 40px 0 30px;

    transition: .3s;

    span.logo {
      display: inline-block;

      width: 103px;
      height: 43px;

      background: url(../files/logo.png);
      background-repeat: no-repeat;
      background-size: 100% auto;

      position: relative;
      top: -3px;

      @media (min-width: 920px) and (max-width: 1140px) {
        display: none;
      }

      @media (min-width: 1200) and (max-width: 1340px) {
        display: none;
      }
    }

    nav {

      a {
        color: #FFF;
        font-family: 'SupriaSans Regular';
        font-size: 16px;

        transition: 0 !important;
        border-bottom: none;

        position: relative;
        top: 5px;

        margin-right: 40px;

        transition: 1s;

        &.active, &:hover {
          border-bottom: 7px solid #FFF;
        }
      }
    }
  }

  .logo-symbol {
    position: absolute;
    z-index: 15;

    top: 25px;
    left: 30px;

    display: inline-block;

    transition: .4s;

    width: 45px;
    height: 58px;

    background: url(../files/logo-symbol.png);
    background-repeat: no-repeat;
    background-size: 100% auto;

    @media (#{ $phone }) {
      width: 114px;
      height: 40px;
      
      top: 20px;
      left: 20px;

      background: url(../files/logo-phone.png);
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }

  button.login, button.signup {
    color: #FFF;
    font-family: 'SupriaSans Regular';
    font-size: 14px;

    border: 1px solid #FFF;
    border-radius: 30px;

    background: none;

    padding: 6px 30px;

    position: relative;

    &:hover {
      background: #FFF;
      color: $green;
    }

    @media (#{ $phone }) {
      margin: 30px 0;
    }

    &.signup {
      background: rgba(255, 255, 255, .8);
      color: $green;

      margin-left: 20px;

      &:hover {
        background: #FFF;
      }
    }
  }

  .green-header {
    position: fixed;
    z-index: 10;

    width: 100%;
    height: 75px;

    opacity: 0;
    transition: .4s;

    &.show {
      background: $green;
      opacity: 1;
    }
  }
  
  .fixed-header {
    position: fixed;
    z-index: 10;

    background: $green;

    padding: 20px 0 0;
    
    width: 100%;
    height: 60px;

    opacity: 0;
    top: -100px;
    transition: opacity .3s;

    &.show {
      opacity: 1;
      top: 0;
    }

    .logo-small {
      position: fixed;
      z-index: 17;

      top: 14px;
      left: 20px;

      display: inline-block;

      width: 98px;
      height: 30px;

      background: url(../files/small-logo.png);
      background-repeat: no-repeat;
      background-size: cover;
    }

    nav {
      padding-left: 50px;
    }
    
    a {
      color: #FFF;
      font-family: 'SupriaSans Regular';
      font-size: 14px;

      border-bottom: none;

      &.active, &:hover {
        border-bottom: 3px solid #FFF;
      }
    }

    button.login, button.signup {
      top: -8px;
    }
  }
  
  span.burger {
    width: 23px;
    height: 12px;

    background: url(../files/burger.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;

    display: inline-block;

    top: 30px;
    right: 20px;

    position: fixed;

    &.cross {
      width: 15px;
      height: 14px;

      background: url(../files/close.svg);
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .phone-menu {
    display: none;

    background: $green;
    
    position: fixed;
    z-index: 2;

    width: 100%;

    &.show {
      display: block;
    }

    @media (#{ $phone }) {
      span {
        margin-left: 20px;
      }
    }

    nav {
      margin-top: 80px;

      a {
        color: #FFF;
        display: block;

        padding: 20px;
        width: 100%;
        font-size: 16px;
        
        border-top: 1px solid rgba(255,255,255,0.2);
        border-bottom: 1px solid rgba(255,255,255,0.2);

        margin-top: -1px;
      }

      a:hover {
        background-color: #11CA8E;
      }
    }

    .login {
      margin: 30px 0;
    }
  }

  .login-menu {
    opacity: 0;
    top: -400px;

    transition: .4s;

    background: rgba(0, 0, 0, .64);
    
    position: fixed;
    z-index: 100;

    width: 360px;

    right: 0;

    border-bottom-left-radius: 44px;

    padding: 80px 0 60px;

    &.show {
      opacity: 1;
      top: 0;
    }

    @media (#{ $phone }) {
      width: 100%;
      height: 296px;

      background: rgba(0, 0, 0, .94);

      border-bottom-left-radius: 0;
    }

    .cross {
      width: 15px;
      height: 14px;

      display: inline-block;

      background: url(../files/close.svg);
      background-size: cover;
      background-repeat: no-repeat;

      position: absolute;

      top: 40px;
      right: 40px;

      @media (#{ $phone }) {
        top: 30px;
        right: 20px;
      }
    }

    input[type="email"],
    input[type="password"] {
      display: block;

      width: 80%;
      margin-left: 10%;
      margin-bottom: 30px;
      
      border: none;
      border-bottom: 1px solid #FFF;
      border-radius: 0;

      background: none;

      font-family: 'Jannon10Pro-Italic';
      font-size: 14px;
      color: #FFF;

      padding: 3px 7px;

      outline: none;
    
      $placeholderColor: rgba(255, 255, 255, .43);
      ::-webkit-input-placeholder {
        color: $placeholderColor;
      }
      ::-moz-placeholder {
        color: $placeholderColor;
      }
      :-moz-placeholder {
        color: $placeholderColor;
      }
      :-ms-input-placeholder {
        color: $placeholderColor;
      }
    }

    span.error {
      color: #FFF;
      margin-left: 40px;

      position: absolute;
      margin-top: 3px;

      opacity: 0;

      &.show {
        opacity: 1;
      }
    }

    submit {
      right: 40;
      position: absolute;
      
      font-family: 'SupriaSans Regular';
      font-size: 14px;
      color: #FFF;

      border: 1px solid #FFF;
      border-radius: 89px;

      padding: 5px 20px;

      transition: .4s;

      cursor: pointer;

      &:hover {
        background: #FFF;
        color: $green;
        border: 2px solid #FFF;
      }
    }
  }

  .black-layer {
    display: none;

    background: rgba(0, 0, 0, .8);
    
    position: fixed;
    z-index: 1;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    &.show {
      display: block;
    }
  }

  .fixed-nav {
    position: fixed;
    left: 130px;

      a
      {
      margin-right: 40px;
      }
  }

  .login-fixed-button {
    position: absolute;
    top: 10px;
    right: 20px;
    top: 35px;

    &.fixed {
      top: 20px;
    }
  }
}
