.root {
  background: #F7F7F7;
  -webkit-font-smoothing: antialiased;
}

.get-landed {
  font-family: $janon;
  font-size: 22px;
  color: $green;

  margin-top: 30px;
  margin-bottom: 50px;
  padding: 15px 35px;

  background: $white;
  border-radius: 50px;

  display: inline-block;

  transition: .2s;

  box-shadow: 0 3px 13px rgba(0, 0, 0, .2);

  cursor: pointer;

  &:hover {
    color: $white;
    background: $green;
  }
}

.info {
  width: 100%;
}

.head {
  font-family: $janon;
  font-size: 45px;
  line-height: 44px;
  
  padding-top: 50px;

  text-align: center;

  &.how {
    padding: 100px 0;
  }
}

.info {
  background: #FFF;
  padding-bottom: 20px;

  .point {

    &.point-how {
      height: 110px;

      @media only screen 
        and (max-width: 667px) {
          height: auto;
      }
    }

    .left, .right {
      width: 49%;
      display: inline-block;

      padding: 00px 40px 20px 40px;


      @media only screen 
        and (max-width: 667px) {
          width: 100%;
      }
    }

    .left {
      text-align: center;
      vertical-align: top;
      
      img {
        width: 182px;

        &.img-how {
          position: relative;
          top: -80px;

          @media only screen 
            and (max-width: 667px) {
              top: 0;
          }
        }
      }
    }

    .line {
      width: 1px;
      height: 100%;

      background: #A6D6C7;
      display: inline-block;

      position: absolute;

      @media only screen 
        and (max-width: 667px) {
          display: none;
      }
    }

    .title {
      font-family: $janon;
      font-size: 24px;
      line-height: 24px;

      margin-top: 20px;

      &.green {
        color: $green;
      }

      &.red {
        color: $red;
      }
    }

    .text {
      color: #9B9B9B;
      font-size: 15px;
      line-height: 18px;
    }
  }

  .quote {
    background: #DEF4ED;
    position: relative;
    z-index: 2;

    text-align: center;

    font-family: $janon;
    font-size: 18px;
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
  }
}

.num {
  position: absolute;
  display: inline-block;

  margin-top: 20px;
  margin-left: -18px;

  background: $green;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  font-size: 16px;
  color: #FFF;

  text-align: center;

  padding: 5px 0;
  width: 33px;
  border-radius: 100%;

  text-transform: uppercase;

  @media only screen 
    and (max-width: 667px) {
      display: none;
  }
}

.num-addition {
  position: absolute;
  display: inline-block;

  top: 0px;
  margin-top: -16px;
  margin-left: 95px;

  background: $green;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  font-size: 16px;
  color: #FFF;

  text-align: center;

  padding: 5px 0;
  width: 33px;
  border-radius: 100%;


  text-transform: uppercase;

  @media only screen 
    and (max-width: 667px) {
      display: none;
  }

  &.a, &.b {
    margin-left: 122px;
  }

  &.a {
    background: #08D895;
  }

  &.b {
    background: #EE6C7C;
  }
}

.calc {
  text-align: center;

  background: #FFF;
  padding-bottom: 30px;

  .line {
    width: 340px;
    height: 1px;

    background: #A6D6C7;
    display: inline-block;

    position: relative;

    top: -15px;

    @media only screen 
      and (max-width: 667px) {
        display: none;
    }
  }

  .side {
    width: 49%;
    display: inline-block;

    @media only screen 
      and (max-width: 667px) {
        width: 100%;
    }
  }

  .num {
    position: relative;
    display: inline-block;
    
    top: -160px;
    left: 40%;
  }

  img {
    width: 270px;
    margin-top: 50px;
  }

  .title {
    font-family: $janon;
    font-size: 24px;
    line-height: 24px;

    text-align: left;

    padding: 20px;

    margin-top: 20px;

    vertical-align: top;

    i {

      &.green {
        color: $green;
      }

      &.red {
        color: $red;
      }
    }
  }

  .table {
    color: #9B9B9B;
    background: #FBFAF7;

    border-radius: 3px;

    text-align: left;
    padding: 20px;

    width: 90%;
    margin-left: 5%;

    .col-5 {
      display: inline-block;
      width: 50%;

      font-size: 22px;

      &:nth-child(2), &:nth-child(4) {
        text-align: right;
      }
    }

    .col-7, .col-3 {
      display: inline-block;
      margin-top: 20px;

      p {
        font-size: 15px;
        line-height: 18px;

        margin: 0;
      }

      &.total {
        border-top: 1px solid #CCC;

        margin-top: 10px;
        padding-top: 10px;

        p {
          color: #000;
        }
      }
    }

    .col-7 {
      width: 70%;
    }

    .col-3 {
      width: 30%;

      text-align: right;
    }
  }

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }
}

.image {
  width: 100%;

  margin-top: 50px;

  text-align: center;

  background: url(./files/get-landed.jpg);
  background-size: 100% auto;

  @media only screen 
    and (max-width: 667px) {
      background: url(./files/get-landed.jpg);
      background-size: auto 100%;
      background-position: -600px 0;
  }

  p {
    color: $white;
  }
}

.questions {
  margin-top: 50px;

  .question {
    color: $green;
    font-size: 21px;
    line-height: 23px;
    font-family: $janon;
    font-style: italic;

    padding-right: 20px;
  }

  .answer {
    font-size: 18px;
    line-height: 23px;

    padding-right: 20px;
    margin-bottom: 40px;
  }
}

.center {
  width: 100%;
  text-align: center;
}

