.root {
  background: #F7F7F7;
}

.get-landed {
  font-family: $janon;
  font-size: 22px;
  color: $green;

  margin-top: 30px;
  margin-bottom: 50px;
  padding: 15px 35px;

  background: $white;
  border-radius: 50px;

  display: inline-block;

  transition: .2s;

  box-shadow: 0 3px 13px rgba(0, 0, 0, .2);

  cursor: pointer;

  &:hover {
    color: $white;
    background: $green;
  }
}

.info {
  width: 100%;
}

.head {
  font-family: $janon;
  font-size: 45px;
  line-height: 44px;
  
  padding-top: 50px;

  text-align: center;

  &.how {
    padding: 100px 0;
  }
}

.info {
  background: #FFF;

  .point {

    .left, .right {
      width: 49%;
      display: inline-block;

      padding: 40px;
    }

    .left {
      text-align: center;
      vertical-align: top;
      
      img {
        width: 182px;
      }
    }

    .line {
      width: 1px;
      height: 100%;

      background: #A6D6C7;
      display: inline-block;

      position: absolute;
    }

    .num {
      position: absolute;
      display: inline-block;

      margin-top: 60px;
      margin-left: -18px;

      background: $green;
      font-size: 16px;
      color: #FFF;

      text-align: center;

      padding: 7px 0;
      width: 37px;
      border-radius: 100%;
    }

    .right {
      // border-left: 1px solid $green;
    }

    .title {
      font-family: $janon;
      font-size: 24px;
      line-height: 24px;

      margin-top: 20px;

      &.green {
        color: $green;
      }

      &.red {
        color: $red;
      }
    }

    .text {
      color: #9B9B9B;
      font-size: 15px;
      line-height: 18px;
    }
  }

  .quote {
    background: #DEF4ED;
    position: relative;
    z-index: 2;

    text-align: center;

    font-family: $janon;
    font-size: 18px;
    font-style: italic;
  }
}

.image {
  width: 100%;

  margin-top: 50px;

  text-align: center;

  background: url(./files/get-landed.jpg);
  background-size: 100% auto;

  @media only screen 
    and (max-width: 667px) {
      background: url(./files/get-landed.jpg);
      background-size: auto 100%;
      background-position: -600px 0;
  }

  p {
    color: $white;
  }
}

.questions {
  margin-top: 50px;

  .question {
    color: $green;
    font-size: 21px;
    line-height: 23px;
    font-family: $janon;
    font-style: italic;

    padding-right: 20px;
  }

  .answer {
    font-size: 18px;
    line-height: 23px;

    padding-right: 20px;
    margin-bottom: 40px;
  }
}

