.root {
  background: #F7F7F7;
}

.get-landed {
  font-family: $janon;
  font-size: 22px;
  color: $green;

  margin-top: 30px;
  margin-bottom: 50px;
  padding: 15px 35px;

  background: $white;
  border-radius: 50px;

  display: inline-block;

  transition: .2s;

  box-shadow: 0 3px 13px rgba(0, 0, 0, .2);

  cursor: pointer;

  &:hover {
    color: $white;
    background: $green;
  }
}

.info {
  width: 100%;
}

.head {
  font-family: $janon;
  font-size: 45px;
  line-height: 44px;
  
  padding-top: 50px;

  text-align: center;

  &.how {
    padding: 100px 0;
  }
}

.image {
  width: 100%;

  text-align: center;

  background: url(./files/get-landed.jpg);
  background-size: 100% auto;

  @media only screen 
    and (max-width: 667px) {
      background: url(./files/get-landed.jpg);
      background-size: auto 100%;
      background-position: -600px 0;
  }

  p {
    color: $white;
  }
}

.questions {
  margin-top: 50px;

  .question {
    color: $green;
    font-size: 21px;
    line-height: 23px;
    font-family: $janon;
    font-style: italic;

    padding-right: 20px;
  }

  .answer {
    font-size: 18px;
    line-height: 23px;

    padding-right: 20px;
    margin-bottom: 40px;
  }
}

