@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';

:local(.styles) {
  background: $light-green;
  color: #FFF;

  min-height: 100%;
  padding-bottom: 100px;

  h1 {
    margin-top: 150px;
  }

  h3 {

  }

  h4 {
    margin-top: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="phone"] {
    color: #444;

    padding: 10px 20px;

    border: none;
    border-radius: 10px;

    width: 100%;

    outline: none;
  }

  button {
    background: $green;
    color: #FFF;

    margin-top: 30px;
    padding: 10px 20px;

    border: none;
    border-radius: 10px;

    width: 100%;
  }
}
