@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';

:local(.styles) {
  background: $light-green;
  color: #FFF;

  min-height: 100%;

  padding-bottom: 100px;

  h1 {
    margin-top: 150px;

    color: #FFF;
    font-family: 'Jannon10Pro';
  }

  form {

    h3 {
      font-family: 'Jannon10Pro';
      font-style: italic;

      margin-top: 40px;
    }

    h4 {
      font-family: 'SupriaSans Regular';
      font-size: 16px;

      margin-top: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="phone"] {
      color: #444;

      padding: 10px 20px;

      border: none;
      border-radius: 10px;

      width: 100%;

      outline: none;
    }

    label {
      margin-right: 40px;
    }

    button {
      background: $green;
      color: #FFF;

      margin-top: 30px;
      padding: 10px 20px;

      border: none;
      border-radius: 10px;

      width: 100%;
    }
  }

  .success {
    padding: 30px;
    text-align: center;

    h2 {
      font-size: 40px;
      font-family: 'Jannon10Pro';
      font-style: italic;

      margin-bottom: 30px;
    }

    p {
      font-size: 12px;

      background: $green;
      color: #FFF;

      border-radius: 5px;
      padding: 3px 7px;

      display: inline-block;

      cursor: pointer;
    }
  }
}
