@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';

:local(.styles) {
  position: relative;
  border-top: 1px solid #CCC;
  background: #F4F4F4;

  margin-top: 20px;
  padding-top: 50px;

  padding-bottom: 50px;
  margin-bottom: -40px;

  h2 {
    text-align: center;
  }

  ul {
    margin-top: 50px;
    padding: 0;

    min-height: 300px;

    li {
      list-style-type: none;
    }

    &.questions {
      
      li {
        padding: 20px 0;
        border-bottom: 1px solid #F2F2F2;

        @media (#{ $phone }) {
          border: none;
        }

        &:first-child {
          padding-top: 0;
        }

        span {
          font-size: 18px;
          line-height: 23px;

          cursor: pointer;

          border-bottom: 1px dashed #C8C8C8;

          font-family: 'Jannon10Pro';
          
          // Answer on mobile
          .answer-mobile {
            font-family: 'SupriaSans Regular';
            font-size: 16px;
            line-height: 26px;
            color: #7B7B7A;

            margin-top: 20px;

            display: none;

            cursor: default;
          }

          &.active {
            color: $green;

            border: none;
            
            span {
              font-family: 'Jannon10Pro-Italic';
              border: none;
            }

            .answer-mobile {
              display: block;
            }
          }

          &:hover {
            color: $green;
          }
        }
      }
    }

    &.answers {

      li {
        font-family: 'SupriaSans Regular';
        font-size: 16px;
        line-height: 26px;
        color: #7B7B7A;

        display: none;

        &.active {
          display: block;
        }
      }
    }
  }
  
  .arrow {
    width: 9px;
    height: 14px;

    background: url(../files/arrow.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;

    display: inline-block;

    transition: .4s;

    &.arrow-0 {
      margin-top: 55px;
    }
    &.arrow-1 {
      margin-top: 140px;
    }
    &.arrow-2 {
      margin-top: 230px;
    }
    &.arrow-3 {
      margin-top: 314px;
    }
  }

  a {
    color: $green;
    border-bottom: 2px solid $green;
  }
}
