@import 'vars';
@import 'typography';
@import 'forms';

:global(body) {
  position: relative;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.page-parts-animation-appear {
  opacity: 0;
}

.page-parts-animation-appear.page-parts-animation-appear-active {
  @for $i from 1 through 12 {
    &:nth-child(#{$i}) {
      opacity: 1;
      transition: $i * 1s;
    }
  }
}
