// Jannon

@font-face {
  font-family: 'Jannon10Pro';
  src: url("./fonts/Jannon10/Jannon10Pro.otf") format("opentype");
}

@font-face {
  font-family: 'Jannon10Pro-Italic';
  src: url("./fonts/Jannon10/Jannon10Pro-Italic.otf") format("opentype");
}

@font-face {
  font-family: 'Jannon10Pro-Bold';
  src: url("./fonts/Jannon10/Jannon10Pro-Bold.otf") format("opentype");
}

// Supria

@font-face {
  font-family: 'SupriaSans Black';
  src: url("./fonts/Supria/SupriaSans Black.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans Bold';
  src: url("./fonts/Supria/SupriaSans Bold.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans Heavy';
  src: url("./fonts/Supria/SupriaSans Heavy.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans Light';
  src: url("./fonts/Supria/SupriaSans Light.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans Medium';
  src: url("./fonts/Supria/SupriaSans Medium.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans Regular';
  src: url("./fonts/Supria/SupriaSans Regular.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans BlackItalic';
  src: url("./fonts/Supria/SupriaSans BlackItalic.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans BoldItalic';
  src: url("./fonts/Supria/SupriaSans BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans HeavyItalic';
  src: url("./fonts/Supria/SupriaSans HeavyItalic.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans LightItalic';
  src: url("./fonts/Supria/SupriaSans LightItalic.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans MediumItalic';
  src: url("./fonts/Supria/SupriaSans MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: 'SupriaSans RegularItalic';
  src: url("./fonts/Supria/SupriaSans RegularItalic.otf") format("opentype");
}
