@import 'fonts';
@import 'vars';

h1 {
  font-family: 'Jannon10Pro';
  font-size: 45px;
}

h2 {
  font-family: 'Jannon10Pro';
  font-size: 40px;
  line-height: 42px;

  &.gray {
    color: #7B7B7A;
  }

  &.white {
    color: #FFF;
  }

  &.green {
    color: $green;
  }
}

p {
  font-size: 16px;
}
