@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';

:local(.styles) {
  background: $light-green;

  padding: 50px 0 50px;

  h2 {
    text-align: center;

    font-size: 35px;
    line-height: 41px;

    margin-bottom: 30px;
  }

  p.toggle-title {
    font-family: 'SupriaSans Regular';
    font-size: 22px;
    line-height: 27px;

    text-align: center;

    @mixin width($width) {
      width: $width;

      margin-top: 20px;
      margin-left: (100 - $width) / 2;
    }

    @include width(40%);

    @media (#{ $phone }) {
      @include width(70%);
    }
  }

  .toggle {
    $width: 505px;

    margin: 50px 0 0;

    text-align: center;

    user-select: none;
    -moz-user-select: none;

    .bar {
      width: $width;
      height: 36px;

      margin: 0 auto;

      background: url(../files/bar.png);
      background-size: cover;

      display: block;

      @media (#{ $phone }) {
        width: 300px;
        height: 50px;

        background: url(../files/bar-phone.png);
        background-repeat: no-repeat;
        background-size: 100% auto;
      }
    }

    .circle {
      transition: .4s;

      &.without-speed {
        transition: 0s;
      }

      @mixin bg($width) {
        $size: $width;

        width: $size;
        height: $size;

        background: url(../files/circle.png);
        background-size: cover;

        z-index: 7;

        &.moving {
          transition: 0s !important;
        }

        &.renting {
          left: 50%;
          margin-left: -260px;

          @media (#{ $phone }) {
            left: 50%;
            margin-left: -160px;
          }
        }

        &.landed {
          left: 50%;
          margin-left: - ($size / 2);
        }

        &.owning {
          left: 50%;
          margin-left: 211px;

          @media (#{ $phone }) {
            left: 50%;
            margin-left: 110px;
          }
        }
      }

      @include bg(50px)

      position: relative;

      top: -40px;

      @media (#{ $phone }) {
        @include bg(50px);
        top: -55px;
      }
    }

    .labels {
      display: block;
      margin-top: -20px;

      @media (#{ $phone }) {
        margin-top: -50px;
      }

      span.label {
        font-family: 'Jannon10Pro-Italic';
        font-size: 15px;
        color: #FFF;
        font-weight: normal;

        width: 225px;
        display: inline-block;

        @media (#{ $phone }) {
          width: 33.3333%;
        }
      }

      .logo {
        width: 54px;
        height: 20px;

        @media (#{ $phone }) {
          width: 64px;
          height: 20px;
        }

        background: url(../files/logo.png);
        background-size: 100% auto;
        background-repeat: no-repeat;

        display: inline-block;
        position: relative;

        top: 10px;

        @media (#{ $phone }) {
          top: 6px;
        }
      }
    }

    .active-zones {
      width: 100%;

      position: relative;
      z-index: 2;

      div {
        width: 25%;
        height: 130px;

        margin-top: -110px;
        
        display: inline-block;

        @media (min-width: 768px) and (max-width: 992px) {
          width: 33%;
        }

        @media (#{ $phone }) {
          width: 33.3333%;
          height: 150px;
        }
      }
    }

    .states {
      width: 500px;
      min-height: 100px;

      display: inline-block;
      
      margin-top: 10px;
      
      $red: #F55C23;
      $green: #36E42D;

      @media (#{ $phone }) {
        width: 100%;
      }

      @mixin circle($color) {
        $size: 10px;

        width: $size;
        height: $size;

        display: inline-block;

        background: $color;
        box-shadow: 0 0 14px 3px $color;

        border-radius: 100%;
      }

      &.renting {
        .monthly-payments {
          @include circle($red);
        }
        .upfront-costs {
          @include circle($green);
        }
        .degree-of-control {
          @include circle($red);
        }
      }
      &.landed {
        .monthly-payments {
          @include circle($green);
        }
        .upfront-costs {
          @include circle($green);
        }
        .degree-of-control {
          @include circle($green);
        }
      }
      &.owning {
        .monthly-payments {
          @include circle($green);
        }
        .upfront-costs {
          @include circle($red);
        }
        .degree-of-control {
          @include circle($green);
        }
      }

      .state {
        width: 33.3333%;
        display: inline-block;
        vertical-align: top;

        span.state-circle {
          $speed: .4s;

          &.monthly-payments {
            transition: $speed + .1;
          }
          &.upfront-costs {
            transition: $speed + .2;
          }
          &.degree-of-control {
            transition: $speed + .3;
          }
        }

        p.state-title {
          font-family: 'SupriaSans Regular';
          font-size: 12px;
          color: #FFF;

          opacity: .5;

          margin-top: 10px;
        }

        p.state-describe {
          font-family: 'SupriaSans Regular';
          font-size: 12px;
          color: #FFF;

          text-transform: uppercase;

          margin-top: -10px;

          padding: 0 10%;
        }
      }
    }
  }

  p {
    font-family: 'SupriaSans Regular';
    font-size: 16px;
    color: #FFF;

    &.centered {
      $width: 85%;

      width: $width;
      margin-left: (100 - $width) / 2;
    }
  }
}
