.root {
  user-select: none;
  
  .header-green-layer {
    background: $green;

    width: 100%;
    height: 100px;

    @media only screen and (max-width: 667px) {
      position: fixed;
      height: 70px;
    }
  }

  .row {
    padding: 5px 0;
  }

  .header {
    padding: 20px 40px;
    background: $green;

    display: inline-block;
    overflow: hidden;
    width: 100%;

    margin-left: 0px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    p.title {
      font-family: 'SupriaSans Regular';
      font-size: 24px;
      color: $white;

      @media only screen and (max-width: 667px) {
        font-size: 20px;
      }
    }

    p.info {
      font-family: 'Jannon10Pro-Italic';
      font-size: 14px;
      opacity: .5;
      color: $white;

      @media only screen and (max-width: 667px) {
        font-size: 12px;
      }
    }
  }

  .nav {
    position: relative;

    .button {

      &.previous {
        padding: 0 25px;

        font-family: 'SupriaSans Regular';
        font-size: 12px;
        line-height: 40px;
        color: rgba(57, 176, 136, 1);

        margin-left: 30px;

        &:hover {
          color: $green;

          span.previous-icon {
            opacity: 1;
          }
        }

        span.previous-icon {
          width: 9px;
          height: 16px;

          display: inline-block;

          position: relative;
          top: 4px;
          left: -13px;

          background: url(./files/back-green.svg);
          background-size: cover;
          opacity: .7;
        }
      }

      &.next {
        font-family: 'SupriaSans Regular';
        font-size: 16px;
        line-height: 24px;
        color: #FFF;

        background: $green;
        border-radius: 75px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .2);

        display: inline-block;

        padding: 5px 50px 5px 40px;
        margin-bottom: 30px;
        margin-right: 30px;

        border: none;

        @media only screen and (max-width: 667px) {
          margin-right: 8%;
        }

        &:hover {
          background: rgba(57, 176, 136, 1);
        }

        &:disabled {
          opacity: .3;
        }

        span.next-icon {
          $widht: 9px;
          $height: 16px;

          width: $widht;
          height: $height;

          display: inline-block;

          position: relative;
          top: 4px;
          right: -31px;

          background: url(./files/next-white.svg);
          background-size: cover;
        }
      }
    }
  }

  .wrap {
    padding: 20px;

    .slides {
      transition: .3s;

      &.position-0 {
        .slide:nth-child(1) {
          display: block;
        }
        .slide:nth-child(2) {
          display: none;
        }
        .slide:nth-child(3) {
          display: none;
        }
      }

      &.position-1 {
        .slide:nth-child(1) {
          display: none;
        }
        .slide:nth-child(2) {
          display: block;
        }
        .slide:nth-child(3) {
          display: none;
        }
      }

      &.position-2 {
        .slide:nth-child(1) {
          display: none;
        }
        .slide:nth-child(2) {
          display: none;
        }
        .slide:nth-child(3) {
          display: block;
        }
      }

      .slide {
        float: left;
        height: 120px;

        padding: 20px;

        @media only screen and (max-width: 667px) {
          width: 100%;
          height: 120px;
          padding: 0 20px;
        }

        p.label {
          font-family: 'Jannon10Pro-Italic';
          font-weight: normal;
          font-size: 18px;

          color: $green;
          line-height: 26px;

          @media only screen and (max-width: 667px) {
            margin-bottom: 20px;
          }
        }

        input[type="text"] {
          border: 1px solid rgba(0, 155, 105, .33);

          padding: 11px 30px 11px 20px;
          display: inline-block;

          width: 100%;

          outline: none;

          font-family: 'SupriaSans Regular';
          font-size: 16px;
        }
      }
    }
  }

  .text-left, .text-right {
    width: 50%;
    display: inline-block;
  }

  .text-right {
    text-align: right;
    padding-right: 10px;

    @media only screen and (max-width: 667px) {
      padding-right: 20px;
    }
  }
  
  ::-webkit-input-placeholder {
    color: $green;
  }
  :-moz-placeholder {
    color: $green;
  }
  ::-moz-placeholder {
    color: $green;
  }
  :-ms-input-placeholder {
    color: $green;
  }
}
