.root {
   background: #F7F7F7;
}

.image {
  text-align: center;
  background: url(./files/home.jpg);
  background-size: 100% auto;

  height: 600px;
  
  p {
    color: $white;
  }

  .title {
    font-size: 45px;
    font-family: $janon;
    line-height: 45px;

    padding-top: 200px;

    i {
      display: block;
    }
  }

  .intro {
    font-size: 15px;
    line-height: 19px;

    max-width: 460px;

    padding: 30px 0;

    display: inline-block;
  }
}

.get-started, .calculate, .learn, .program {
    font-family: $janon;
    font-size: 22px;
    color: $green;
  
    margin-top: 30px;
    padding: 15px 35px;

    background: $white;
    border-radius: 50px;

    display: inline-block;

    transition: .2s;

    box-shadow: 0 3px 13px rgba(0, 0, 0, .2);

    &:hover {
      color: $white;
      background: $green;
    }
  }

.head {
  font-family: $janon;
  font-size: 45px;
  line-height: 44px;
}

.intro {
  padding: 20px 0 30px;
}

.calc {
  text-align: center;
  padding: 70px 0;

  &.expland {

    .calculate {
      display: none;
    }

    .results {
      display: inline-block;
    }
  }

  .title {
    text-align: right;

    font-size: 25px;
  }
  
  .form {
    text-align: left;

    input[type="text"] {
      width: 80%;
      text-align: left;

      padding: 15px 20px;

      border-radius: 10px;
      border: 1px solid rgba(0, 155, 105, .19);
      box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2);

      position: relative;
      margin-top: -10px;

      outline: none;
    }
  }

  .results {
    display: none;

    background: $white;
    border-radius: 8px;

    width: 800px;
    
    margin-top: 30px;

    overflow: hidden;

    text-align: center;

    .top {
      font-family: $janon;
      font-size: 27px;
      line-height: 26px;
      font-style: italic;

      padding: 40px 0 10px;;
    }

    .option {
      display: inline-block;
      
      margin: 0 20px;

      .num {
        font-size: 11px;
        color: $gray;
      }

      .table {
        width: 340px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .1);

        border-left: 1px solid rgba(0, 0, 0, .13);
        border-right: 1px solid rgba(0, 0, 0, .13);
        border-bottom: 1px solid rgba(0, 0, 0, .13);

        .left-side {
          border-right: 1px solid rgba(0, 0, 0, .13);
        }

        .left-side, .right-side {
          width: 50%;
          display: inline-block;

          padding: 20px;

          text-align: left;

          &.red {
            border-top: 2px solid $red;
          }

          &.green {
            border-top: 2px solid $green;
          }

          .large {
            color: $red;
          }

          .small {
            color: $green;
          }

          .cost {
            font-family: $janon;
            font-style: italic;
            color: $gray;

            margin-top: -13px;
          }

          .price {
            color: #2F2F2F;
            font-size: 24px;

            position: relative;
            margin-top: -4px;
            margin-left: -14px;
            margin-bottom: -5px;
          }
        }
      }
    }
  
    .left-arrow, .right-arrow {
      width: 39px;
      height: 107px;

      display: inline-block;

      margin-top: 20px;
    }

    .left-arrow {
      background: url(./files/left-arrow.png);
      background-size: cover;
    }

    .right-arrow {
      background: url(./files/right-arrow.png);
      background-size: cover;
    }

    .middle {
      font-family: $janon;
      font-size: 27px;
      line-height: 26px;
      font-style: italic;
      color: $green;

      position: relative;
      top: -30px;

      display: inline-block;
    }

    .calc-table {
      display: inline-block;
      
      margin: 0 20px;

      .table {
        width: 460px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, .1);

        background: $white;

        border-left: 1px solid rgba(0, 0, 0, .13);
        border-right: 1px solid rgba(0, 0, 0, .13);
        border-bottom: 1px solid rgba(0, 0, 0, .13);

        .left-side {
          border-right: 1px solid rgba(0, 0, 0, .13);
        }

        .left-side, .right-side {
          width: 50%;
          display: inline-block;

          padding: 30px;

          text-align: left;

          border-top: 2px solid #00FAA9;

          .small {
            color: $green;
            font-size: 19px;
          }

          .cost {
            font-family: $janon;
            font-style: italic;
            font-size: 19px;
            color: $gray;

            margin-top: -13px;
          }

          .price {
            color: #2F2F2F;
            font-size: 28px;

            position: relative;
            margin-top: -4px;
            margin-left: -14px;
            margin-bottom: -5px;
          }
        }
      }
    }

    .footer {
      width: 100%;
      height: 220px;

      background: $green;

      margin-top: -180px;
    }
  }
}

.how {
  padding: 50px 0;

  text-align: center;

  border-top: 1px solid $gray;

  .one-two-three {
    padding: 20px 0;

    p {
      font-size: 18px;

      width: 90%;
      margin-left: 5%;
    }
  }

  i {
    display: block;

    font-size: 23px;
    font-style: italic;
  }
}

.invest {
  padding: 120px 0;
  text-align: center;

  i {
    font-size: 23px;
    font-style: italic;

    display: block;

    position: relative;
    z-index: 1;
  }

  .program {
    position: relative;
    z-index: 1;
  }

  img {
    position: absolute;
    z-index: 0;
  }

  .oval-left {
    left: 0;
    width: 370px;
  }

  .oval-center {
    width: 350px;

    margin-top: -100px;
    left: 45%;
  }

  .oval-right {
    width: 370px;

    margin-top: -250px;
    right: 0;
  }
}
