@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';

:local(.styles) {
  background: $light-green;

  font-family: 'SupriaSans Regular';

  border-top: 1px solid rgba(255, 255, 255, .22);

  padding: 25px 0 50px;

  color: #FFF;
  font-size: 16px;

  .icon-col {
    text-align: center;

    @media (#{ $phone }) {
      text-align: right;
    }
  }
  
  .titlemargins{
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .text-col {
    text-align: center;

    margin-top: 15px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;

    @media (#{ $phone }) {
      text-align: left;
      padding-right: 60px;

    }
  }

  span.title {
    font-family: 'Jannon10Pro-Italic';
    font-size: 35px;

  }
  
  img {
    width: 65px;
   
    /*margin: 0px 0;*/
  }
}
