@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';

:local(.styles) {
  background: $light-green;

  font-family: 'SupriaSans Regular';

  border-top: 1px solid rgba(255, 255, 255, .22);

  padding: 25px 0 50px;

  color: #FFF;
  font-size: 16px;

  .icon-col {
    text-align: center;

    @media (#{ $phone }) {
      text-align: right;
    }
  }

  .text-col {
    text-align: center;

    margin-top: 24px;
    padding-left: 30px;

    @media (#{ $phone }) {
      text-align: left;
      padding-right: 60px;
    }
  }

  span.title {
    font-family: 'Jannon10Pro-Italic';
    font-size: 19px;
  }
  
  img {
    width: 65px;

    margin: 10px 0;
  }
}
