@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';

:local(.styles) {
  position: relative;
  background: #F8F8F8;
  // background: $light-green;

  padding: 60px 0;
  border-bottom: 1px solid rgba(255, 255, 255, .43);

  p.title {
    margin-bottom: 40px;

    font-family: 'Jannon10Pro-Italic';
    font-size: 26px;

    color: $light-green;

    @media (#{$phone}) {
      margin-bottom: 50px;    
    }
  }

  p.list-title {
    margin-bottom: 30px;

    font-family: 'SupriaSans Regular';
    font-size: 23px;

    color: $light-green;
  }

  ul {
    
    @media (#{$phone}) {
      margin-bottom: 50px;    
    }

    li {
      font-family: 'SupriaSans Regular';
      font-size: 16px;
      line-height: 20px;

      color: $light-green;
      
      margin-left: -40px;
      margin-bottom: 20px;
    }
  }
}
