@import '../../../containers/App/styles/screens';

:local(.styles) {
  position: relative;

  margin-top: -72px;
  
  background: rgba(0, 0, 0, .35);

  @media (#{ $phone }) {
    background: none;

    position: absolute;
    width: 100%;
    
    margin-top: -112px;
  }

  padding: 20px 0;

  form {
    margin: 0;
  }

  span.email-icon {
    $size: 18px;

    width: $size;
    height: $size;

    display: inline-block;

    background: url(../files/email.svg);
    background-size: 100% auto;
    background-repeat: no-repeat; 

    position: relative;
    top: 12px;
    left: -30px;
  }

  span.title {
    font-family: 'SupriaSans Regular';

    color: #FFF;
    font-size: 14px;

    position: relative;
    top: 6px;
    left: -20px;

    @media (#{ $phone }) {
      font-size: 12px;

      top: 0;
      left: 20px;
    }
  }

  input[type="email"] {
    width: 100%;

    font-family: 'Jannon10Pro-Italic';
    font-size: 14px;

    padding: 3px 7px;

    background: none;
    border: none;
    border-bottom: 1px solid #FFF;

    outline: none;

    margin-left: -30px;

    position: relative;
    top: 4px;

    color: #FFF;

    @media (#{ $phone }) {
      margin-left: 0;
    }

    
    $placeholderColor: rgba(255, 255, 255, .43);
    ::-webkit-input-placeholder {
      color: $placeholderColor;
    }
    ::-moz-placeholder {
      color: $placeholderColor;
    }
    :-moz-placeholder {
      color: $placeholderColor;
    }
    :-ms-input-placeholder {
      color: $placeholderColor;
    }
  }

  button, input[type="submit"] {
    font-family: 'SupriaSans Regular';
    font-size: 14px;

    color: #FFF;
    background: none;

    padding: 5px 15px;

    border: 1px solid #FFF;
    border-radius: 30px;

    opacity: .8;

    @media (#{ $phone }) {
      font-family: 'SupriaSans Light';
      font-size: 10px;
      height: 35px;
      width: 35px;
      padding: 8px;
    }

    &:hover {
      opacity: 1;
    }
  }
}