@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';

:local(.styles) {
  width: 100%;
  height: 600px;

  // Pages
  //
  // Home
  // Temp:
  background: url(../files/top.jpg);
  background-size: cover;

  @media (#{ $phone }) {
    height: 580px;

    background: url(../files/top-phone.jpg);
    background-size: cover;
  }

  &.home {
    background: url(../files/top.jpg);
    background-size: cover;

    @media (#{ $phone }) {
      height: 580px;

      background: url(../files/top-phone.jpg);
      background-size: cover;
    }
  }

  .blurred-image {
    width: 100%;
    height: 600px;

    position: absolute;

    top: 0;
    left: 0;

    background: url(../files/top-blur.jpg);
    background-size: cover;

    opacity: 1;
    transition: 0s;

    &.loaded {
      transition: 3s;
      opacity: 0;
    }
  }

  .title-animation-appear {
    opacity: 0.01;
  }

  .title-animation-appear.title-animation-appear-active {
    opacity: 1;
    transition: .5s linear;
  }

  @for $i from 1 through 12 {
    .text-animation-#{$i}-appear {
      opacity: 0.01;
    }

    .text-animation-#{$i}-appear.text-animation-#{$i}-appear-active {
      opacity: 1;
      transition: $i * 0.5s;
    }
  }

  h1 {
    color: #FFF;
    font-size: 45px;
    line-height: 41px;
    font-family: 'Jannon10Pro';
    
    margin: 120px 0 30px;

    @media (#{ $phone }) {
      width: 90%;
      font-size: 35px;
    }
  }

  .group {
    margin-bottom: 10px;

    span.icon {
      $size: 13px;
      $left: 15px;

      width: $size;
      height: $size;

      vertical-align: top;

      border-radius: 100%;
      border: 2px solid #FFF;

      display: inline-block;
      position: relative;
      top: 2px;
      
      margin-left: - $left - $size;
      margin-right: $left;
    }

    p {
      font-family: 'SupriaSans Regular';
      color: #FFF;
      opacity: 0.9;
      font-size: 16px;
      line-height: 22px;


      width: 450px;

      display: inline-block;

      @media (#{ $phone }) {
        width: 100%;
        font-size: 14px;
        line-height: 18px;
      }
    }
  }

  span.button {
    background: #FFF;
    border-radius: 75px;
    opacity: 0.8;


    padding: 12px 35px;

    font-size: 18px;
    color: $green;

    margin-top: 25px;
    display: inline-block;

    @media (#{ $phone }) {
      width: 100%;
      text-align: center;
      margin-top: 0px;
    }

    @media (max-width: 320px) {
      margin-top: -10px;
    }

    &:hover {
      background: #FFF;
      color: $green;
      opacity: 1;
      
    }
  }
}
