.root {
  position: relative;

  margin-bottom: 20px;

  cursor: pointer;

  .circle {
    width: 28px;
    height: 28px;

    display: inline-block;

    background: url(./files/radio-button.png);
    background-size: cover;

    &.active {
      background: url(./files/radio-button-active.png);
      background-size: cover;      
    }
  }

  .text {
    font-size: 15px;
    line-height: 15px;

    display: block;
    position: relative;

    top: -28px;
    left: 40px;

    padding-right: 40px;
  }
}