@import '../../../containers/App/styles/vars';
@import '../../../containers/App/styles/screens';

:local(.styles) {
  background: #F8F8F8;
  padding-bottom: 70px;
  margin-bottom: -40px;

  p {
    font-family: 'SupriaSans Regular';
    font-size: 16px;
    line-height: 22px;
    color: #7B7B7A;

    &.black {
      color: #000;
    }
  }

  .family {
    margin-top: 60px;
    margin-bottom: 50px;

    span.loan-icon {
      $size: 52px;

      width: $size;
      height: $size;

      background: url(../files/icon1.png);
      background-size: cover;

      display: inline-block;
    }

    span.lease-icon {
      $size: 52px;

      width: $size;
      height: $size;

      background: url(../files/icon2.png);
      background-size: cover;

      display: inline-block;
    }

    span.ownership-icon {
      $size: 52px;

      width: $size;
      height: $size;

      background: url(../files/icon3.png);
      background-size: cover;

      display: inline-block;
    }

    p.title {
      font-family: 'SupriaSans Bold';
      font-size: 32px;
      line-height: 34px;
      color: $green;

      display: inline-block;
      position: relative;

      top: 10px;
      left: 25px;
    }

    p.info-text {
      color: #4C4C4C;
      font-family: 'SupriaSans Regular';
      font-size: 18px;
      line-height: 24px;
    }

    .button {
      border-radius: 50px;
      border: 1px solid $green;

      color: $green;
      display: inline-block;

      margin-top: 30px;

      padding: 15px 25px;

      font-family: 'SupriaSans Light';
      font-size: 18px;

      &:hover {
        background: $green;
        color: #FFF;
      }
    }

    p.more-known {
      margin: 30px 0;

      font-family: "Jannon10Pro-Italic";
      font-size: 16px;
    }

    .expandet-list {
      margin-left: -60px;
      margin-top: 20px;
    }
  }

  .lease-and-shared {
    margin-top: 40px;
    
    p.small-title {
      font-family: 'Jannon10Pro-Italic';
      font-size: 16px;
      line-height: 24px;
    }

    p.small-title-border {
      font-family: 'Jannon10Pro-Italic';
      font-size: 16px;
      line-height: 24px;  
      padding-top: 50px;
    }

    p.title {
      font-family: 'SupriaSans Regular';
      font-weight: bold;
      font-size: 45px;
      line-height: 45px;
      color: $green;

      margin-top: -10px;
      margin-bottom: 30px;
    }

    p.text {
      font-family: 'SupriaSans Regular';
      font-size: 18px;
      line-height: 24px;
    }

    p.italic-block {
      padding: 30px 0;
    }

    .list {
      margin-left: -60px;
      margin-bottom: 30px;

      @media (min-width: 768px) and (max-width: 992px) {
        margin-left: -80px;
      }

      @media (#{ $phone }) {
        margin-left: -15px;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      span.list-number {
        font-family: 'Jannon10Pro';
        font-style: italic;
        font-size: 16px;
        line-height: 24px;
        color: #7B7B7A;

        display: inline-block;
        margin-left: 14px;
      }
    }

    p.ul-title {
      font-family: 'SupriaSans Bold';
      color: #4C4C4C;
      font-size: 18px;
      line-height: 18px;
    }

    ul {
      margin-left: -20px;
      margin-bottom: 30px;

      li {
        font-family: 'SupriaSans Regular';
        font-size: 16px;
        line-height: 24px;
        color: #7B7B7A;

        width: 90%;

        list-style-type: disc;
        padding: 0 0 20px 0;
      }
    }
  }

  .terms {
    margin-top: 50px;

    @media (#{ $phone }) {
      display: none;
    }
  
    p.title {
      font-family: 'Jannon10Pro-Bold';
      font-size: 25px;
      line-height: 45px;
      color: #4C4C4C;
    }

    p.text {
      width: 90%;
    }

    .landed-support {
      margin-top: 50px;
    }

    .terms-table {
      background: #FFF;
      border-top: 1px solid $green;

      padding-bottom: 40px;

      @media (min-width: 768px) and (max-width: 992px) {
        margin-top: 30px;
        padding-top: 40px;
      }

      @media (#{ $phone }) {
        margin-top: 30px;
        padding-top: 40px;
      }
      
      .left-side, .right-side {
        padding: 0 25px;
      }

      .left-side {
        text-align: right;

        @media (#{ $phone }) {
          text-align: left;
        }
      }

      p.field-name-prop {
        font-family: 'SupriaSans Bold';
        font-size: 18px;
        line-height: 42px;
        color: #4C4C4C;

        margin-top: 40px;

        @media (#{ $phone }) {
          display: none;
        }
      }
      p.field-name-val {
        font-family: 'SupriaSans Bold';
        font-size: 18px;
        line-height: 42px;
        color: #7B7B7A;

        margin-top: 40px;

        @media (#{ $phone }) {
          display: none;
        }
      }

      p.field-prop {
        font-family: 'SupriaSans Regular';
        font-size: 18px;
        line-height: 22px;
        color: #4C4C4C;

        padding: 3px 0;

        @media (#{ $phone }) {
          margin-bottom: 0;
        }
      }
      p.field-val {
        font-family: 'SupriaSans Regular';
        font-size: 16px;
        line-height: 22px;
        color: #7B7B7A;

        padding: 3px 0;

        @media (#{ $phone }) {
          padding-bottom: 20px;
        }
      }
    }

    .landed-support {

      .list {
        margin-left: -40px;
        padding: 5px 0;

        @media (min-width: 768px) and (max-width: 992px) {
          margin-left: 0;
        }

        @media (#{ $phone }) {
          margin-left: 0;
        }

        span.icon {
          vertical-align: top;

          $size: 18px;

          width: $size;
          height: $size;

          background: url(../files/landed-done.png);
          background-size: cover;

          display: inline-block;

          &.un-done {
            background: url(../files/landed-un-done.png);
          background-size: cover;
          }
        }

        p {
          display: inline-block;
          margin-left: 20px;
          width: 80%;

          i {
            font-family: 'Jannon10Pro-Italic';
            font-size: 16px;
            font-style: italic;

            color: $green;

            display: block;
          }
        }
      }
    }
  }

  .examples {
    margin-top: 50px;

    @media (#{ $phone }) {
      display: none;
    }

    .story-block {
      margin-bottom: 30px;

      &:nth-child(3) {
        @media (#{ $phone }) {
          margin-top: 30px;
        }
      }
    }

    img {
      width: 100%;
    }
  
    p.title {
      font-family: 'Jannon10Pro-Bold';
      font-size: 25px;
      line-height: 45px;
      color: #4C4C4C;

      margin-bottom: 40px;
    }

    p.text {
      font-family: 'SupriaSans Regular';
      font-size: 16px;
      line-height: 22px;
      color: #7B7B7A;

      width: 80%;
      margin-top: 15px;

      cursor: pointer;

      .story-title {
        font-family: 'Jannon10Pro';
        font-size: 28px;
        line-height: 33px;
        color: #7B7B7A;
        margin-bottom: 25px;

      }

      &:hover {
        
        .read {
          opacity: 1;
          border-bottom: 1px solid $green;
        }
      }

      &.active {
        color: $green;

        p {
          color: $green;          
        }

        .story-title {
        color: $green;
        }

        .read {
          display: none;
        }
      }

      .read {
        display: inline-block;
        opacity: 0.7;
        margin-top: 10px;

        border-bottom: 1px dotted $green;
        color: $green;
        padding-bottom: 2px;
      }
    }

    // Story block
    .story {
      display: none;

      background: #FFF;
      border-top: 1px solid $green;
      padding: 50px 40px 70px;

      p {
        font-size: 16px;
        line-height: 24px;

        width: 90%;
        color: #4C4C4C;
      }

      .financial-info, .lended-helped {
        opacity: .55;
        color: #4C4C4C;

        p.title {
          font-family: 'Jannon10Pro-Italic';
          font-size: 16px;
          line-height: 24px;

          margin-bottom: 20px;

          @media (min-width: 768px) and (max-width: 992px) {
            margin-top: 50px;
          }

          @media (#{ $phone }) {
            margin-top: 50px;
          }
        }

        .row {
          padding: 10px 0;

          font-size: 14px;
          line-height: 15px;
        }
      }

      .lended-helped {
        opacity: 1;

        p {
          margin-bottom: 20px;
          padding-right: 20px;
        }
      }
      
      // Diff table
      .diff-table {

        .row {
          padding-bottom: 20px;
        }
        
        // Head
        .fha-title {
          font-family: 'SupriaSans Bold';
          font-size: 14px;
          line-height: 15px;
          color: #7B7B7A;
        }
        .lease-title {
          font-family: 'SupriaSans Bold';
          font-size: 14px;
          line-height: 15px;
          color: $green;
        }
      
        // Body
        .prop, .fha-val, .lease-val {
          padding-top: 3px;
          padding-bottom: 3px;

          @media (min-width: 768px) and (max-width: 992px) {
            padding-top: 13px;
          }

          @media (#{ $phone }) {
            padding-top: 13px;
          }
        }
        .prop {
          font-family: 'SupriaSans Regular';
          font-size: 14px;
          line-height: 15px;
          color: #7B7B7A;
          opacity: .55;
        }
        .fha-val {
          font-family: 'SupriaSans Regular';
          font-size: 14px;
          line-height: 15px;
          color: #7B7B7A;
        }
        .lease-val {
          font-family: 'SupriaSans Regular';
          font-size: 14px;
          line-height: 15px;
          color: $green;
        }
      }

      .sign {
        margin-top: 70px;

        p {
          font-family: 'Jannon10Pro-Italic';
          font-size: 22px;
          line-height: 34px;

          padding: 0 8%;
        }
      }
    }
  }

  .sign-up-block {
    position: absolute;
    margin-top: -120px;

    span.button {
      background: #FFF;
      border-radius: 75px;
      opacity: 0.8;


      padding: 12px 35px;

      font-size: 18px;
      color: $green;

      margin-top: 5px;
      display: inline-block;

      @media (#{ $phone }) {
        width: 100%;
        text-align: center;
        margin-top: 0;
      }

      @media (max-width: 320px) {
        margin-top: -20px;
      }

      &:hover {
        background: #FFF;
        color: $green;
        opacity: 1; 
      }
    }
  }
}
